/*! ////////// Generales Y Utilidades ///////////// */

@font-face {
  font-family: "QuickSand-Light";
  src: url("../Fuentes/QuickSand/static/Quicksand-Light.ttf");
}

@font-face {
  font-family: "QuickSand-Regular";
  src: url("../Fuentes/QuickSand/Quicksand-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

/*! /////////////////// Header /////////////////// */

header {
  width: 100%;
  z-index: 1;
}

.headerContainer {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navnom {
  display: flex;
}

.color {
  color: black;
  margin: 0 10px;
  font-family: "QuickSand-Regular";
  font-weight: 400;
  letter-spacing: 0.1ch;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.icon-main {
  display: flex;
  padding-left: 20%;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

/*! Carrito De Compras */

.Menu-Prueba {
  position: fixed;
  z-index: 2;
  height: 100%;
  right: 0%;
  width: 30%;
  top: 0%;
  background-color: white;
  overflow-y: scroll;
}

#General {
  display: none;
}

.topMenu {
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: white;
}

.topMenu h2,
.topMenu h3 {
  font-size: 14pt;
  font-family: "QuickSand-Regular";
  font-weight: 550;
}

.topMenu h3 {
  cursor: pointer;
}

.contentMenu {
  display: flex;
  flex-direction: column;
}

.ElementoCarrito {
  margin: 4% 2% 0% 4%;
  width: 80%;
  align-self: center;
  display: flex;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  background-color: white;
}

.Elemento-Img {
  width: 28%;
}

.ElementoTexto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.Elemento-Titulo {
  font-family: "QuickSand-Regular";
  font-size: 16pt;
}

.Elemento-Precio {
  font-family: "QuickSand-Regular";
  font-size: 14pt;
}

.bottomMenu {
  display: flex;
  flex-direction: column;
}

.contenedorTotalCarrito {
  display: flex;
  justify-content: space-around;
}

.contenedorTotalCarrito h4 {
  font-size: 14.5pt;
  font-family: "QuickSand-Regular";
  margin: 25px;
  margin-bottom: 0px;
}

#limpiarCarro {
  text-decoration: underline;
  font-family: "QuickSand-Light";
  font-size: 12pt;
  cursor: pointer;
  margin-left: 13%;
  margin-top: 3%;
  width: fit-content;
}

.boton {
  align-self: center;
  width: 75%;
  background-color: Black;
  color: white;
  font-family: "QuickSand-Light";
  font-size: 13pt;
  margin-bottom: 2.5%;
}

#dim {
  background-color: black;
  opacity: 0.5;
  z-index: 1;
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
}

/*! ///////////// Producto ///////////////// */

main {
  display: flex;
  margin: 150px 180px 150px 180px;
  justify-content: space-evenly;
}

section {
  width: 30%;
}

.Producto-Principal {
  width: 100%;
}

.Contenedor-Aux {
  margin-top: 3%;
  display: flex;
  width: 100%;
  gap: 2%;
  justify-content: space-between;
}

.Producto-Aux {
  width: 30%;
  max-width: 200px;
}

.Producto-Aux:hover {
  cursor: pointer;
}

aside {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Producto-Titulo {
  font-size: 23pt;
  font-family: "QuickSand-Regular";
  font-weight: 600;
}

.contenedorPrecio {
  display: flex;
  gap: 5px;
}

.Simbolo-Precio,
.Producto-Precio {
  font-size: 18pt;
  font-family: "QuickSand-Regular";
  font-weight: 600;
  margin-top: 12px;
}

.Producto-Extra {
  margin-top: 30px;
  font-size: 12pt;
  font-family: "QuickSand-Light";
  font-weight: bold;
}

button {
  margin-top: 35px;
  background-color: black;
  width: 80%;
  height: 60px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

button img {
  width: 30px;
}

button p {
  font-family: "QuickSand-Light";
  font-size: 15pt;
  color: white;
}

button:hover {
  cursor: pointer;
}

/*! ///////////// Footer /////////////// */

.contenedorFooterContenidos,
.contenedorFooterExtras,
.footerUbicacion {
  display: flex;
}

.contenedorFooterContenidos {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  justify-content: space-around;
}

hr {
  height: 2.5px;
  background-color: black;
}

.contenedorFooterLinks {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.contenedorFooterContenidos div h1 {
  font-family: "QuickSand-Regular";
  margin-top: 10px;
  font-size: 16pt;
  font-weight: 600;
  margin-bottom: 25px;
}

.contenedorFooterLinks a {
  font-family: "QuickSand-Regular";
  font-size: 14pt;
  font-weight: 400;
  margin-top: 6px;
  color: black;
  width: fit-content;
}

.contenedorFooterExtras {
  justify-content: space-between;
}

.contenedorFooterExtras h1 {
  font-size: 13pt;
  font-weight: 500;
  margin: 20px;
}

.footerRedesSociales {
  display: flex;
  gap: 15px;
}

.footerRedesSociales a {
  height: max-content;
}

.footerUbicacion img {
  width: 30px;
  height: 30px;
  align-self: center;
}

.footerUbicacion h1 {
  margin: 20px 20px 20px 3.5px;
}

.footerRSI {
  width: 30px;
  height: 30px;
}