/*! ////////// Generales Y Utilidades ///////////// */

@font-face {
    font-family: "QuickSand-Light";
    src: url("../Fuentes/QuickSand/static/Quicksand-Light.ttf");
}

@font-face {
    font-family: "QuickSand-Regular";
    src: url("../Fuentes/QuickSand/Quicksand-VariableFont_wght.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
    font-size: 15px;
}

body {
    background-image: url(../Banner/Jpg/Pantalones.png);
    background-repeat: no-repeat;
}

.multi {
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

video {
    height: 1440px;
    object-fit: cover;
    width: 100%;
}

section{
    width: 100%;
    height: 1080px;
}

article{
    background-color: white;
    width: 760px;
    height: 830px;
    border-radius: 15px;
    margin: auto;
    margin-top: 90px;
}

.logotipo{
    margin-top: 50px;
    margin-left: 340px;
}

.titulo{
    color: black;
    font-family: "QuickSand-Light";
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}

h2{
    font-family: "QuickSand-Light";
    font-size: 15px;
    margin-top: 20px;
    margin-left: 50px;
}

.correo{
    background-color: white;
    border-radius: 200px;
    border: 1px solid black;
    width: 640px;
    height: 50px;
    margin-top: 20px;
    margin-left: 50px;
}

.extra{
    font-family: "QuickSand-Light";
    display: flex;
}

.recordarme{
    margin-top: 20px;
    margin-left: 50px;
}

.extra p{
    margin-top: 20px;
    margin-left: 5px;
}

.xd p{
    margin-left: 330px;
}

.Inicio{
    font-family: "QuickSand-Light";
    margin-top: 40px;
    margin-left: 50px;
}

.boton1{
    background-color: rgb(0, 0, 0);
    border-radius: 200px;
    text-decoration: none;
    color: white;
    padding: 20px 270px;
}

.cuenta{
    display: flex;
    flex-direction: row;
}

.crear{
    margin-top: 40px;
    margin-left: 240px;
}

.crearcuenta{
    font-family: "QuickSand-Light";
    color: black;
    margin-top: 40px;
    margin-left: 5px;
}

.usando{
    font-family: "QuickSand-Light"; 
    margin-top: 50px;
    text-align: center;
}

.google{
    font-family: "QuickSand-Light";
    background-color: white;
    border-radius: 200px;
    border: 1px solid black;
    width: 640px;
    height: 50px;
    margin-top: 20px;
    margin-left: 50px;
}

.google h3{
    margin-top: -30px;
    margin-left: 220px;
}

.google img{
    margin-top: 10px;
    margin-left: 170px;
}

.Facebook{
    font-family: "QuickSand-Light";
    background-color: #0078da;
    border-radius: 200px;
    width: 640px;
    height: 50px;
    margin-top: 20px;
    margin-left: 50px;
}

.Facebook h3{
    color: white;
    margin-top: -30px;
    margin-left: 220px;
}

.Facebook img{
    margin-top: 10px;
    margin-left: 170px;
}