@font-face {
    font-family: "QuickSand-Light";
    src: url("../Fuentes/QuickSand/static/Quicksand-Light.ttf");
}

@font-face {
    font-family: "QuickSand-Regular";
    src: url("../Fuentes/QuickSand/Quicksand-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

header>* {
    position: relative;
}

.headerContainer {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navnom {
    display: flex;
}

.multi {
    width: 100%;
    object-fit: cover;
}

video {
    height: 1440px;
    object-fit: cover;
    width: 100%;
}

.color {
    color: white;
    margin: 0 10px;
    font-family: "QuickSand-Regular";
    font-weight: 400;
    letter-spacing: 0.1ch;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.icon-main {
    display: flex;
    padding-left: 20%;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.mujer{
    width: 100%;
    height: auto;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
}

.variedad-carteras {
    height: 1080px;
    max-height: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
}

.contenedorCarteras {
    display: flex;
    justify-content: space-around;
}

.contenedorCarteras button {
    align-self: center;
    background-color: transparent;
    border: none;
    font-size: 20pt;
}

.Carterass h1 {
    font-family: "QuickSand-Regular";
    margin-top: 10px;
}

.Carteras p{
    font-family: "QuickSand-Light";
    font-weight: 600;
}