@font-face {
    font-family: "QuickSand-Light";
    src: url("../Fuentes/QuickSand/static/Quicksand-Light.ttf");
}

@font-face {
    font-family: "QuickSand-Regular";
    src: url("../Fuentes/QuickSand/Quicksand-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

header>* {
    position: relative;
}

.headerContainer {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navnom {
    display: flex;
}

.multi {
    width: 100%;
    object-fit: cover;
}

video {
    height: 1440px;
    object-fit: cover;
    width: 100%;
}

.color {
    color: white;
    margin: 0 10px;
    font-family: "QuickSand-Regular";
    font-weight: 400;
    letter-spacing: 0.1ch;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.icon-main {
    display: flex;
    padding-left: 20%;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.pant {
    background-image: url(../Banner/Jpg/Pantalones.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.pant h1 {
    font-family: "QuickSand-Light";
    margin-top: auto;
    text-align: center;
    letter-spacing: 0.15ch;
    font-size: 25pt;
    color: white;
}

.pant button {
    font-family: "QuickSand-Regular";
    margin-bottom: 50px;
    margin-top: 35px;
    padding: 15px 35px 15px 35px;
    letter-spacing: 0.05ch;
    font-size: 14pt;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
}

.mejoresSnakers {
    height: auto;
    max-height: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#snakersTitulo {
    text-align: center;
    font-family: "QuickSand-Light";
    color: black;
    text-decoration: underline;
    font-size: 21pt;
}

.contenedorSnakers {
    display: flex;
    justify-content: space-around;
}

.contenedorSnakers button {
    align-self: center;
    background-color: transparent;
    border: none;
    font-size: 20pt;
}

.snakers h1 {
    font-family: "QuickSand-Regular";
    margin-top: 10px;
}

.snakers p {
    font-family: "QuickSand-Light";
    font-weight: 600;
}

.carte {
    background-image: url(../Banner/Jpg/Cartera.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.carte h1 {
    font-family: "QuickSand-Light";
    margin-top: auto;
    text-align: center;
    letter-spacing: 0.15ch;
    font-size: 25pt;
    color: white;
}

.carte button {
    font-family: "QuickSand-Regular";
    margin-bottom: 50px;
    margin-top: 35px;
    padding: 15px 35px 15px 35px;
    letter-spacing: 0.05ch;
    font-size: 14pt;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
}

/*! ///////////// Footer /////////////// */

.contenedorFooterContenidos,
.contenedorFooterExtras,
.footerUbicacion {
    display: flex;
}

.contenedorFooterContenidos {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    justify-content: space-around;
}

hr{
    height: 2.5px;
    background-color: black;
}

.contenedorFooterLinks {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.contenedorFooterContenidos div h1 {
    font-family: "QuickSand-Regular";
    margin-top: 10px;
    font-size: 16pt;
    font-weight: 600;
    margin-bottom: 25px;
}

.contenedorFooterLinks a {
    font-family: "QuickSand-Regular";
    font-size: 14pt;
    font-weight: 400;
    margin-top: 6px;
    color: black;
    width: fit-content;
}

.contenedorFooterExtras {
    justify-content: space-between;
}

.contenedorFooterExtras h1 {
    font-size: 13pt;
    font-weight: 500;
    margin: 20px;
}

.footerRedesSociales {
    display: flex;
    gap: 15px;
}

.footerRedesSociales a {
    height: max-content;
}

.footerUbicacion img {
    width: 30px;
    height: 30px;
    align-self: center;
}

.footerUbicacion h1 {
    margin: 20px 20px 20px 3.5px;
}

.footerRSI {
    width: 30px;
    height: 30px;
}